



.App {
  text-align: center;

}
.App-logo {
height: 40vmin;
pointer-events: none;

}
.container{
max-width: 500px;
font-size: 15px;
margin: 0 auto;


}
li{
text-align: left;
box-shadow: rgba(107, 169, 180, 0.56) 0px 22px 70px 4px;

}
ul{

  list-style: decimal;
  box-shadow:  rgba(155, 18, 18, 0.25) 0px 25px 30px -6px;


}
img{
  padding-left: 20%;
  width: 18px;
position: relative;
top: 5px;
right: 5px;


}







